/**
 * Jenkins Plugin for JIRA
 * Copyright (C) 2012 Marvelution
 * info@marvelution.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.application-type-image-jenkins {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/icon96_jenkins.png) no-repeat 42px 34px;
}

.application-type-image-hudson {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/icon96_hudson.png) no-repeat 42px 34px;
}

.jenkins-logo {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/icon96_jenkins.png) left top no-repeat;
	background-size: 30px;
	padding: 10px 0 0 35px;
	vertical-align: bottom;
	height: 35px;
}

.hudson-logo {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/icon96_hudson.png) left top no-repeat;
	background-size: 30px;
	padding: 10px 0 0 35px;
	vertical-align: bottom;
	height: 35px;
}

.jenkins-centered {
	text-align: center !important;
	white-space: nowrap;
}

.jenkins-right-text {
	text-align: right !important;
	white-space: nowrap;
}

.job-deleted {

}

.job-sync-icon {
	width: 16px;
	height: 16px;
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/not_working.png) no-repeat;
	display: inline-block;
	cursor: pointer;
}

.job-sync-icon.active {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/working.gif) no-repeat;
	cursor: default;
}

.job-sync-status {

}

.job-sync-status .error,
.job-sync-error {
	color: #ff6666;
	font-weight: bold;
}

.joblist > tbody > tr:HOVER {
	background-color: #f2f2f2;
}

.jenkins-applink {
	margin: 25px 0;
}

.jenkins-applink-steps {
	list-style: decimal outside;
	padding: 0 0 0 24px;
}

.jenkins-screenshot img {
	width: 550px;
	margin: 25px 0;
}
